
@import url("//hello.myfonts.net/count/382cd7")

// TODO: these weights should be integrated with bulma
$font-black: 900
$font-extra-bold: 800
$font-bold: 600
$font-medium: 500
$font-normal: normal
$font-light: 300
$font-thin: 200

@font-face
  font-family: 'BwGradual'
  src: url('/webfonts/382CD7_5_0.eot')
  src: url('/webfonts/382CD7_5_0.eot?#iefix') format("embedded-opentype"), url('/webfonts/382CD7_5_0.woff2') format("woff2"), url('/webfonts/382CD7_5_0.woff') format("woff"), url('/webfonts/382CD7_5_0.ttf') format("truetype")
  font-weight: $font-black

@font-face
  font-family: 'BwGradual'
  src: url('/webfonts/382CD7_0_0.eot')
  src: url('/webfonts/382CD7_0_0.eot?#iefix') format("embedded-opentype"), url('/webfonts/382CD7_0_0.woff2') format("woff2"), url('/webfonts/382CD7_0_0.woff') format("woff"), url('/webfonts/382CD7_0_0.ttf') format("truetype")
  font-weight: $font-black
  font-style: italic

@font-face
  font-family: 'BwGradual'
  src: url('/webfonts/382CD7_3_0.eot')
  src: url('/webfonts/382CD7_3_0.eot?#iefix') format("embedded-opentype"), url('/webfonts/382CD7_3_0.woff2') format("woff2"), url('/webfonts/382CD7_3_0.woff') format("woff"), url('/webfonts/382CD7_3_0.ttf') format("truetype")
  font-weight: $font-extra-bold

@font-face
  font-family: 'BwGradual'
  src: url('/webfonts/382CD7_1_0.eot')
  src: url('/webfonts/382CD7_1_0.eot?#iefix') format("embedded-opentype"), url('/webfonts/382CD7_1_0.woff2') format("woff2"), url('/webfonts/382CD7_1_0.woff') format("woff"), url('/webfonts/382CD7_1_0.ttf') format("truetype")
  font-weight: $font-extra-bold
  font-style: italic

@font-face
  font-family: 'BwGradual'
  src: url('/webfonts/382CD7_2_0.eot')
  src: url('/webfonts/382CD7_2_0.eot?#iefix') format("embedded-opentype"), url('/webfonts/382CD7_2_0.woff2') format("woff2"), url('/webfonts/382CD7_2_0.woff') format("woff"), url('/webfonts/382CD7_2_0.ttf') format("truetype")
  font-weight: $font-bold

@font-face
  font-family: 'BwGradual'
  src: url('/webfonts/382CD7_4_0.eot')
  src: url('/webfonts/382CD7_4_0.eot?#iefix') format("embedded-opentype"), url('/webfonts/382CD7_4_0.woff2') format("woff2"), url('/webfonts/382CD7_4_0.woff') format("woff"), url('/webfonts/382CD7_4_0.ttf') format("truetype")
  font-weight: $font-bold
  font-style: italic


@font-face
  font-family: 'BwGradual'
  src: url('/webfonts/382CD7_9_0.eot')
  src: url('/webfonts/382CD7_9_0.eot?#iefix') format("embedded-opentype"), url('/webfonts/382CD7_9_0.woff2') format("woff2"), url('/webfonts/382CD7_9_0.woff') format("woff"), url('/webfonts/382CD7_9_0.ttf') format("truetype")
  font-weight: $font-medium
  
@font-face
  font-family: 'BwGradual'
  src: url('/webfonts/382CD7_8_0.eot')
  src: url('/webfonts/382CD7_8_0.eot?#iefix') format("embedded-opentype"), url('/webfonts/382CD7_8_0.woff2') format("woff2"), url('/webfonts/382CD7_8_0.woff') format("woff"), url('/webfonts/382CD7_8_0.ttf') format("truetype")
  font-weight: $font-medium
  font-style: italic

@font-face
  font-family: 'BwGradual'
  src: url('/webfonts/382CD7_B_0.eot')
  src: url('/webfonts/382CD7_B_0.eot?#iefix') format("embedded-opentype"), url('/webfonts/382CD7_B_0.woff2') format("woff2"), url('/webfonts/382CD7_B_0.woff') format("woff"), url('/webfonts/382CD7_B_0.ttf') format("truetype")
  font-weight: $font-normal

@font-face
  font-family: 'BwGradual'
  src: url('/webfonts/382CD7_A_0.eot')
  src: url('/webfonts/382CD7_A_0.eot?#iefix') format("embedded-opentype"), url('/webfonts/382CD7_A_0.woff2') format("woff2"), url('/webfonts/382CD7_A_0.woff') format("woff"), url('/webfonts/382CD7_A_0.ttf') format("truetype")
  font-weight: $font-normal
  font-style: italic

@font-face
  font-family: 'BwGradual'
  src: url('/webfonts/382CD7_7_0.eot')
  src: url('/webfonts/382CD7_7_0.eot?#iefix') format("embedded-opentype"), url('/webfonts/382CD7_7_0.woff2') format("woff2"), url('/webfonts/382CD7_7_0.woff') format("woff"), url('/webfonts/382CD7_7_0.ttf') format("truetype")
  font-weight: $font-light

@font-face
  font-family: 'BwGradual'
  src: url('/webfonts/382CD7_6_0.eot')
  src: url('/webfonts/382CD7_6_0.eot?#iefix') format("embedded-opentype"), url('/webfonts/382CD7_6_0.woff2') format("woff2"), url('/webfonts/382CD7_6_0.woff') format("woff"), url('/webfonts/382CD7_6_0.ttf') format("truetype")
  font-weight: $font-light
  font-style: italic

@font-face
  font-family: 'BwGradual'
  src: url('/webfonts/382CD7_C_0.eot')
  src: url('/webfonts/382CD7_C_0.eot?#iefix') format("embedded-opentype"), url('/webfonts/382CD7_C_0.woff2') format("woff2"), url('/webfonts/382CD7_C_0.woff') format("woff"), url('/webfonts/382CD7_C_0.ttf') format("truetype")
  font-weight: $font-thin

@font-face
  font-family: 'BwGradual'
  src: url('/webfonts/382CD7_D_0.eot')
  src: url('/webfonts/382CD7_D_0.eot?#iefix') format("embedded-opentype"), url('/webfonts/382CD7_D_0.woff2') format("woff2"), url('/webfonts/382CD7_D_0.woff') format("woff"), url('/webfonts/382CD7_D_0.ttf') format("truetype")
  font-weight: $font-thin
  font-style: italic