<nav class="navbar is-transparent">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{.Site.BaseURL | relURL}}">
            <img class="navbar-logo" src="/img/logo.svg" alt="{{ .Site.Title }} logo" width="120">
        </a>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="navbar-menu">

        <!-- This "navbar-burger" hamburger menu is only visible on mobile -->
        <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->

        <!-- This "nav-menu" is hidden on mobile -->
        <!-- Add the modifier "is-active" to display it on mobile -->
        <div class="navbar-end navbar--vertical">
            <div class="navbar-item">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <a itemprop="url" class="navbar-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{end}}" href="{{.URL}}"><span itemprop="name">{{ .Name }}</span></a>
                {{ end }}
            </div>
        </div>
    </div>
</nav>